*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    font-size: 15px;
    background-color: var(--background);
}
body::-webkit-scrollbar{
    display: none;
}
:root{
    --green:rgb(60, 200, 90);
    --background:rgb(255, 255, 255);
    --text:rgb(0,0,0);
    --htext:rgb(0, 0, 0);
    --icon:rgb(100, 90, 90);
    --schback:rgb(231, 223, 223);
    --sch:rgb(100, 90, 90);
    --cartclr:rgb(0,0,0);
    --f:rgb(110, 102, 102);
    --s:rgb(228, 215, 215);
}

:root:has(input:checked){
    --green:rgb(245, 245, 245);
    --background:rgb(0, 0, 0);
    --text:rgb(255, 255, 255);
    --htext:rgb(56, 214, 93);
    --icon:rgb(255, 255, 255);
    --schback:rgba(87, 79, 79, 0.514);
    --sch:rgb(129, 122, 122);
    --cartclr:rgb(60, 200, 90);
    --f:rgba(36, 32, 32, 0.575);
    --s:rgb(59, 47, 47);
    
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
    width: 100%;
    color: var(--green);
    top: 0;
    position: sticky;
    background-color: var(--background);
    z-index: 1;
    text-align: center;
    
}
.headname{
    width: 30%;
}
.header1{
    display: flex;
    width: 70%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;
    position: relative;
}
.material-symbols-outlined{
    color: var(--icon);
    text-rendering:optimizeLegibility;
}
.head-icons{
    padding: 5px;
    position: relative;
}
.head-icons::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    border-radius: 50%;
    z-index: -1;
    background-color: rgb(206, 200, 200);
    transform: scale(0);
    transition: .2s all ease;
}
.head-icons:hover:after{
    left: 0;
    right: 0;

    transform: scale(1);
}
.search{
    padding: 0 8px;
}
.search,.search:focus{
    caret-color: var(--cartclr);
    font-size: 15px;
}
.search-bar{
    padding: 7px 40px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    position: relative;
}
.search-icon{
    color: var(--sch);
    padding: 9px 20px ;
    position: absolute;
    left: 0;
    
}
.section{
    position: relative;
}
.meta{
    position:fixed;
    display: block;
    width: 50px;
    padding: 12px;
    background-color: black;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #888;
    right: 5%;
    bottom: 15%;
    z-index: 2;
    text-align: center;
    font-size: .8em;
}
input[type=text]{
    font-size: 18px;
    border: 0;
    outline: 0;
    background-color: var(--schback);
    position: relative;


}
input[type=text]:focus{
    color: var(--text);
    
    
}
.types{
    margin: 10px 8px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.types::-webkit-scrollbar{
    display: none;
}
.types>a{
    margin: 5px;
    padding:5px 8px;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    color: var(--text);
    border: 1px solid rgb(153, 149, 149);
    border-radius: 15px;

}
.types>a:hover,a.active{
    background-color:rgba(60, 200, 90, 0.692);
    color: var(--htext);
}

.archieved{
    color: var(--sch);
    display: flex;
    align-items: center;
    margin: 0 7px ;
    padding: 6px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.chats{
    display: flex;
    flex-direction: column;
}
.chat{
    position: relative;
    padding: 10px;
    display: flex;
}
.profile{
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 1px solid rgb(4, 197, 4);
}
.pinicon{
    position: absolute;
    right: 0;
    bottom: 15px;
    font-size: 20px;
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 48;

}
.chat-pre{
    flex:auto;
    margin-left: .5em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
}
.chat>.profile,.chat-pre{
    height: 50px;
}
.chat-pre>.name,.inner-pre{
    line-height: 18px;
    width: 90%;
    border-radius: 10px;
    height: 16px;
    background-image: linear-gradient(to right bottom,var(--f),var(--s));
}

.chat-pre>.name{
    color: var(--text);
    text-indent: .5em;
    border-radius: 5px;
}

