*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
    html{
    scroll-behavior: smooth;
}
body{
    position: relative;
}
.varun{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

}
    .whole{  
            width: 360px;
            height: 100vh;
            white-space: nowrap;
            border: 2px solid green;
            border-radius: 15px;
            overflow-x: auto;
            overflow-y: hidden;
        }
        .iframe{
            display: inline-block;
            width:100%;
            height: 100vh;
        }
        .whole::-webkit-scrollbar{
            display: none;
        }
    

        .preload{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.986);
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 2;
        }
        .icon{
            height: 50%;

        }
        .founder{
            padding-top: 50%;
            display: flex;
            flex-direction: column;
        }

   /** .nav-footer{
    display: flex;
    width:inherit ;
    position:fixed;
    bottom: 0;
    background-color:white;
    justify-content:space-between;
    gap: 3%;
    
}
    .footer-div{
    display: block;
     align-items: baseline;
     text-align: center;
    }
    .iframe_links{
    display: block;
    width: 100%;
    padding-top: 2px;
    text-align: center;
    height: fit-content;
    position: relative;
}
    .footer-icon::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    opacity: 0;
    z-index: -1;
    background-color: rgba(41, 233, 73, 0.6);
    border-radius: 12px;
    transition: .2s all ease;
}
    .footer-icon:hover::after{
    left: 10%;
    right: 10%;
    opacity: 1;
}**/
#nav-container{
    padding: 0.5em 0;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 360px;
    border: 2px solid green;
    border-top: 0;
}
.footer-icon{
    position: relative;
    flex:1 1 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: rgb(30, 34, 30);

}
.footer-icon::before{
    content: attr(data-title);
    position: absolute;
    text-align: center;
    font-size: medium;
    width: 100%;
    height: fit-content;
    padding: 2px 0;
    top: -50%;
    opacity: 0;
    border-radius: 3px;
    color: white;
    background-color: rgba(32, 24, 24, 0.486);
    transition-delay: 1.5s;
}
.footer-icon:hover::before{
    opacity: 1;
}
.material-icons{
    padding: 3px 0 ;
}
.footer-icon>p{
    margin-top: 0.5em;
}
.active,.footer-icon:hover .material-icons{
    scale: 1;
    color:rgb(9, 92, 23) ;
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 48;

}
.footer-icon:hover .material-icons{
    animation: zoom .5s linear;
}
@keyframes zoom {
    0%,100%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
}
.material-icons{
    scale: 1;
}
.material-icons::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    opacity: 0;
    z-index: -1;
    background-color: rgba(41, 233, 73, 0.6);
    border-radius: 15px;
    transition: .2s all ease;
}
.active .material-icons::after{
    left: 10%;
    right: 10%;
    opacity: 1;
}

.footer-icon:hover .material-icons::after{
    left: 10%;
    right:10% ;
    opacity: 1;
    }


